button {
  border: none;
  margin: 0;
  padding: 0;
  width: auto;
  overflow: visible;

  background: transparent;

  /* inherit font & color from ancestor */
  color: inherit;
  font: inherit;

  /* Normalize `line-height`. Cannot be changed from `normal` in Firefox 4+. */
  line-height: normal;

  /* Corrects font smoothing for webkit */
  -webkit-font-smoothing: inherit;
  -moz-osx-font-smoothing: inherit;

  /* Corrects inability to style clickable `input` types in iOS */
  -webkit-appearance: none;
  width: 100%;
  text-align: left;
}

.item {
  display: flex;
  position: relative;
  cursor: pointer;
  padding: 10px 15px;
  gap: 8px;
}

.item:hover {
  background-color: #e7e7e7;
  border-radius: 8px;
}

.title {
  border-bottom: 1px solid transparent;
}

.item:hover .title {
  border-color: rgb(0 0 0 / 35%);
}

.items {
  margin-left: 14px;
}
