/* =================================================== */
/* This file contains some default styles for the app */
/* ================================================= */

.layout {
  min-height: 100vh;
  background-color: #3c42c4;
}

.branding {
  display: flex;
  width: fit-content;
  align-items: center;
  gap: 8px;
  margin-bottom: 24px;
  margin-left: 12px;
}

.sidebar {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 400px;
  overflow-y: scroll;
  background-color: #f7f7f5;
  padding: 32px calc(32px - 12px);
  box-shadow: 5px 0px 20px rgb(0 0 0 / 32%);
  z-index: 10;
}

.sidebarSectionTitle {
  padding-left: 12px;
  margin-bottom: 1rem;
}

.sidebarActionsList {
  font-size: 18px;
  line-height: 24px;
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
}

.sidebarAction {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-bottom: 2px;
}

.actionIcon {
  flex-shrink: 0;
}

.hoverableSidebarItem {
  color: #5f5e5b;
  cursor: pointer;
  padding: 6px 12px;
  border-radius: 8px;

  &:hover {
    background-color: #ededeb;
  }
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 500;

  background-color: #ffffff;
}

h1,
h2,
h3 {
  margin-top: 0;
}

html {
  font-size: 18px;
  line-height: 20px;
  color: #37352f;
}

body {
  margin: 0;
}

a {
  text-decoration: none;
  color: unset;
  &:hover {
    color: var(--hover-color);
  }
}
